body {
	font-family: 'Ubuntu', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1213px;
	margin: 0 auto;
	padding-top: 56px;
	padding-bottom: ;
	box-sizing: border-box;
	padding-top: 30px;
}

.footer {
	background-color: #f7f7f7;
	padding: 0px 20px 0px 20px;
}

.wrap {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 15px 0px 15px;
	max-width: 1213px
}

.nav {
	list-style-type: none;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	font-size: 14px;
	align-items: center;
	font-weight: 700;

}

.nav > li {
	margin-left: 37px;
}

.nav > li > a {
	text-decoration: none;
	color: #202020;
}

.nav_btn {
	background-color: #5528FF;
	border-radius: 5px;
	padding:6px 15px;
	color: #fff;
	border: none;
	font-weight: 700;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo_img {
	display: block;
	width: 58px;
	height: 58px;
	background-image: url(../img/mamon-logo.svg);
	margin-right: 23px;
}

.logo_text {
	font-size: 24px;
	color: #202020;
	text-decoration: none;
}

.title-main {
	font-size: 57px;
	color: #202020;
	font-weight: 700;
}

.text-main {
	font-size: 32px;
	line-height: 1.5;
	color: #4f4f4f;
}

.button {
	background-color: #5528FF;
	border-radius: 5px;
	padding: 10px 45px;
	color: #fff;
	border: none;
	font-size: 24px;
}

.page {
	padding: 40px 0px 40px 0px;
	position: relative;
}

.page-top {
	border-top: 1px solid #C2C2C2;
}

.page h2 {
	position: absolute;
	top: -24px;
	font-size: 14px;
	color: #C2C2C2;
	font-weight: 300;
	background-color: #fff;
	padding: 5px 15px;
	top: 0;
}

.servises {
	display: grid;
	grid-template: 50% 50% / 50% 50%
}

.servises-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.servises h3 {
	font-size: 28px;
	font-weight: 400; 
}

.servises p {
	font-size: 14px;
	color: #B2B2B2;
	line-height: 1.5;
}

.servises_img {
	width: 120px;
	text-align: center;
}

.servises_text {
	flex-basis: calc(100% - 120px);
}

.clients {
	display: grid;
	grid-template:repeat(2, 1fr) / repeat(4, 25%);
	text-align: center;
	grid-row-gap: 40px;

}

.team {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 33%);
	grid-row-gap: 40px;
}

.team-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.social {
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

.social > li {
	margin-left: 15px;
}

.social > li > a {
	text-decoration: none;
	font-size: 24px;
}

.box-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}